<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <label for="fName">First Name</label>
  <input id="fName" formControlName="firstName" type="text" required>
  <label for="mName">Middle Name</label>
  <input id="mName" formControlName="middleName" type="text">
  <label for="lName">Last Name</label>
  <input id="lName" formControlName="lastName" type="text" required>
  <div formGroupName='address'>
    <label for="state">State</label>
    <select formControlName="state">
<option *ngFor="let state of states" [value]="state">
  {{state}}
</option>
  </select>
    <label for="pin">pin</label>
    <input id="pin" formControlName="pinCode" type="text" required>
  </div>
  <button [disabled]="!userForm.valid" type="submit">Submit</button>
  <button [disabled]='userForm.pristine' type="button" (click)="resetForm()">Reset</button>
</form>
<p>
  {{diagnostics|json}}
</p>
<div>
  Added Users
</div>
<button type="button" *ngFor="let user of users">
  {{user.firstName+' '+user.lastName}}
</button>